@media (max-width: 1199px) {
  h1 {
    font-size: 3.75rem;
  }
  h2 {
    font-size: 2.1875rem;
  }
  h3 {
    font-size: 1.875rem;
  }
  h5 {
    font-size: 1.0625rem;
  }
}

@media (max-width: 991px) {
  .header__scrolled {
    height: auto;
  }

  .header__wrapper .navbar-collapse {
    margin-top: -0.125rem;
  }

  .header__wrapper .menu__navbar__nav {
    text-align: center;
    background-color: var(--bg-white);
    padding-bottom: 0.9375rem;
  }
  .header__wrapper .nav-item .nav-link {
    margin-top: 0.9375rem;
  }

  /* ---about--- */
  .about__wrapper .client__info::before {
    top: 0.25rem;
    left: 2.8125rem;
  }
  .about__wrapper .client__info > div {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1.875rem;
    line-height: 2.375rem;
  }
  h3 {
    font-size: 1.5625rem;
    line-height: 2.1875rem;
  }
}

@media (max-width: 576px) {
}
